<h1>Current Conditions for <%= @city %></h1>

<p>I had a difficult time parsing this page.  After watching two prior classes, i still couldn't get it to work.  However, below is a robust amount of infomation on <%= @city %> </p>
<p><%= @json_data %></p>
