<div class="page-header">
  <h1>Learning Stack Details</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <img width = "300" src="http://static.thepioneerwoman.com/homeschooling/files/2012/08/looking-for-american-history-readers-for-fifth-grade-and-up.jpg">
  </div>
  <div class="col-md-8">
    <h3>History</h3>
    <p class="lead">$0.99</p>
    <p>The History learning asset will cover fourth grade American History.  Author: Grant Yunker - Verified Teacher</p>
  </div>
</div>
